<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>nike {{ title }}s</h1>
    <table>
        <tr>
            <th>Names</th>
            <th>Prices</th>
        </tr>
        {% for i in range(nike_dict.names|length) %}
        <tr>
            <td>{{ nike_dict.names[i] }}</td>
            <td>{{ nike_dict.prices[i] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>