<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script>
    function filterNews() {
        const input = document.getElementById('filterInput');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('newsTable');
        const tr = table.getElementsByTagName('tr');

        for (let i = 1; i < tr.length; i++) { // Start from 1 to skip the header row
            const td = tr[i].getElementsByTagName('td')[0]; // Get the title cell
            if (td) {
                const txtValue = td.textContent || td.innerText;
                tr[i].style.display = txtValue.toLowerCase().indexOf(filter) > -1 ? '' : 'none';
            }
        }
    }
    </script>
</head>
<body>
    <h1>scmp tech</h1>
    <input type="text" id="filterInput" onkeyup="filterNews()" placeholder="Filter by title...">
    <table id="newsTable">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        {% for i in range(news_dict.title|length) %}
        <tr>
            <td>
                <a class="btn" href="{{ news_dict.link[i]}}" target="_blank">{{ news_dict.title[i] }}</a>
            </td>
            <td class="description">{{ news_dict.description[i] }}</td>
            <td>{{ news_dict.date[i] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>