<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
    <h1>scmp</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
            <th>Date</th>
        </tr>
        {% for i in range(news_dict.title|length) %}
        <tr>
            <td>{{ news_dict.title[i] }}</td>
            <td>{{ news_dict.link[i] }}</td>
            <td>{{ news_dict.description[i] }}</td>
            <td>{{ news_dict.date[i] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>